<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 홈페이지 입니다</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">내 사이트</a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/containercontrol"
                >전체 컨테이너 현황</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/manage">전체 사용자 관리</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/board">게시판 관리</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/myinfo">내정보</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="/">로그아웃</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container mt-4">
      <h1>관리자 홈페이지 입니다.</h1>
      <p>이름: <%= user.name %></p>
      <p>레벨: <%= user.level %></p>
    </div>
  </body>
</html>
