<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/cc.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/home">JEONG TAE YEON</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/make">컨테이너 만들기</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/makecontainer">내 컨테이너 관리</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/containercontrol"
                  >전체 컨테이너 현황</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/board">게시판</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myinfo">내정보</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">로그아웃</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container mt-5">
      <h1 class="text-center">컨테이너 생성 정보</h1>
      <div class="row justify-content-center">
        <div class="col-md-8">
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">컨테이너 이름</th>
                <th scope="col">컨테이너 포트</th>
                <th scope="col">컨테이너 기간</th>
                <th scope="col">포트 상태</th>
                <!-- 수정된 열 추가 -->
              </tr>
            </thead>
            <tbody>
              <% for (let i = 30000; i <= 30027; i++) { %> <% const container =
              containers.find(item => item.containerPort === i); %>
              <tr>
                <td><%= container ? container.containername : '' %></td>
                <td><%= i %></td>
                <td>
                  <%= container ? container.containerDuration + ' ~ ' +
                  container.containerDuration2 : '' %>
                </td>
                <td><%= container ? '사용 중' : '사용 가능' %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
