<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <link rel="stylesheet" href="/create.css" />
  </head>
  <body>
    <header>
      <h1>Edit Post</h1>
    </header>
    <main>
      <form action="/editPost/<%= post._id %>" method="POST" class="container">
        <div class="form-group">
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= post.title %>"
            required
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="content">Content:</label><br />
          <textarea
            id="content"
            name="content"
            rows="4"
            required
            class="form-control"
          >
<%= post.content %></textarea
          >
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </main>
  </body>
</html>
