<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      .image-container img {
        max-width: 100%;
        height: auto;
      }
      .card-title {
        font-weight: bold;
      }
      .card-text {
        font-size: 16px;
      }
      /* 추가된 스타일 */
      .carousel-control-prev,
      .carousel-control-next {
        width: 5%;
      }
      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        padding: 10px;
      }
      .carousel-control-prev-icon:before,
      .carousel-control-next-icon:before {
        color: white;
      }
    </style>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/home">JEONG TAE YEON</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/make">컨테이너 만들기</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/makecontainer">내 컨테이너 관리</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/containercontrol"
                  >전체 컨테이너 현황</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/board">게시판</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/myinfo">내정보</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="container mt-5">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">컨테이너 만들기</h5>
                <p class="card-text">
                  서버와 클라이언트의 통신을 통해 도커 컨테이너를 생성합니다.
                  운영체제를 선택하고, 사용기간을 명시하면 웹서비스로 접속하여
                  활용할 수 있습니다.
                </p>
                <div class="image-container">
                  <img
                    src="container.png"
                    alt="container"
                    class="card-img-top"
                  />
                </div>
                <a href="/make" class="btn btn-primary">이동하기</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">내 컨테이너 관리</h5>
                <p class="card-text">
                  생성한 컨테이너를 관리하는 페이지입니다. 웹을 통해 컨테이너
                  내부로 들어가 작업을 진행할 수 있습니다. 직접적인 퍼블릭 IP가
                  사용됩니다.
                </p>
                <div class="image-container">
                  <img
                    src="containermake.png"
                    alt="container"
                    class="card-img-top"
                  />
                </div>
                <a href="/makecontainer" class="btn btn-primary">이동하기</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">전체 컨테이너 현황</h5>
                <p class="card-text">
                  모든 컨테이너의 사용현황을 보여줍니다. 컨테이너를 만들기 전
                  비어있는 포트들을 확인하고, 나만의 컨테이너를 만들 수
                  있습니다. 현재 사용중인 컨테이너의 사용자, 사용날짜 등을
                  보여줍니다. 이를 통해 효율적인 포트 사용이 이루어집니다.
                </p>
                <div class="image-container">
                  <img src="make.png" alt="container" class="card-img-top" />
                </div>
                <a href="/containercontrol" class="btn btn-primary">이동하기</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">게시판</h5>
                <p class="card-text">
                  등업을 요청하기 위한 게시판입니다. Level2 권한을 가진
                  사용자만이 컨테이너를 생성할 수 있습니다.
                </p>
                <div class="image-container">
                  <img src="board.png" alt="container" class="card-img-top" />
                </div>
                <a href="/board" class="btn btn-primary">이동하기</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">내정보</h5>
                <p class="card-text">
                  권한에 대한 정보를 알 수 있는 페이지입니다. 패스워드 변경
                  기능을 제공합니다.
                </p>
                <div class="image-container">
                  <img src="myinfo.png" alt="container" class="card-img-top" />
                </div>
                <a href="/myinfo" class="btn btn-primary">이동하기</a>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
