.nav-link.active {
  background-color: #007bff; /* 원하는 색상으로 변경 가능 */
  color: #fff; /* 원하는 색상으로 변경 가능 */
}

h1 {
  font-size: 2rem; /* 제목 폰트 크기 설정 */
  font-weight: bold; /* 제목 폰트 굵기 설정 */
  margin-bottom: 20px; /* 제목 아래 여백 설정 */
  text-align: left;
  padding-top: 20px;
}

.brand-link {
  text-decoration: none; /* 밑줄 제거 */
}
